<!-- single page used for newsCommenter app. Article data comes from  "allArticles" -->
<main>
  <div class="container">

    <!-- row that has scrape button and help button -->
    <div class="row justify-content-between mt-3 mb-3">
      <div class="col-12 col-md-5">
         <button id="scrapeButton" class="btn btn-primary">Scrape more articles</button>
      </div>
      <!-- <div class="col-12 col-md-4">
        
      </div> -->
      <div class="col-12 col-md-3 justify-content-end">
          <button id="helpButton" class="btn btn-primary"
          data-toggle="modal" data-target="#helpModal">Help</button>
      </div>  
    </div>

    {{#each allArticles as |article i|}}
      <div id="row_{{i}}" class="row mt-1 mb-1" data-rowNo="{{i}}">
        <div class="col-xs-12 col-sm-4 col-md-3 newsPicture d-flex flex-wrap  align-items-center" >
          <a href="{{fullArticleUrl}}">
            <img src="{{pictureUrl}}" class="newsImg">
          </a>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6 newsHeadline">
          <a href="{{fullArticleUrl}}" class="newsHeadlineLink">
            <h5 class="mt-1">{{title}}</h5>
          </a>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 newsNotes">
          <div class="btnCombined  btn-group-vertical">
            <button id="noteCount_{{i}}" class="btn btn-sm btn-primary notAButton">{{notes.length}} notes</button>
            <button class="js_showNote btn btn-sm btn-primary"
              data-visibility-toggle="1"
              data-show-note="{{i}}">Show notes</button>
            <button id="createNote_{{i}}" data-create-note="{{i}}" data-article-id="{{_id}}"
              data-image-url="{{pictureUrl}}" data-title="{{title}}"
              class="js_createNote btn btn-sm btn-primary">Create note</button> 
          </div>
        </div>
      </div>
      <div class="row d-none justify-content-md-center" id="notesRow_{{i}}"> <!-- displays notes, hidden until notes->show button clicked -->
        {{#each notes as |note|}}
          <div class="col-12">
            <div class="notesBox mt-1">{{note.content}}</div>
          </div>
        {{/each}}

      </div>
    {{/each}}
  </div>

  <!-- modal used for adding a note - shared between all articles -->
  <div class="modal fade" id="addNoteModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <div class="container-fluid">
            <div class="row">
              <h4>Add a note</h4>
              <button type="button" class="close" id="closeInstructions1" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </div>
            <div class="row">
              <div class="col-6">
                <img id="modalImage" src="" class="newsImg" alt="Article image">
              </div>
              <div class="col-6">
                <p id="modalNewsTitle"></p>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-body">
          <div class="container-fluid">
            <div class="form-group">
              <label for="noteContent">Type a note</label>
              <textarea id="noteContent" class="form-control noteTextArea"
                rows="10"></textarea>
            </div>
          </div>
        </div>
  
        <div id="noteModalFoot" class="modal-footer">
          <button type="submit" class="btn btn-primary" id="noteSubmitButton">Post</button>
          <button type="button btn-sm" id="closeInstructions2"
            class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>

  <!-- help modal -->
  <div class="modal fade" id="helpModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <div class="container-fluid">
            <div class="row">
              <div id="helpModalLogoBox" class="col-6">
                <a href="https//theonion.com">
                  <img id="helpModalOnionLogo" src="./images/the-onion-vector-logo.svg" alt="The onion logo">
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <h2>How to use onion scraper</span></h2>
              </div>
              <div class="col-3">
                <button type="button" class="close" id="closeInstructions1" data-dismiss="modal"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-body">
          <p>"The onion" is a satirical online newspaper. 
            The stories are not real, 
            although have been picked up by news agencies in the past ... </p>
          <p>This app goes to "The onion", collects the latest stories, stores them,
            writes a summary
            and then allows the user to add notes
          </p>
          <p>The "Scrape more articles" button fetches more articles from "The onion"</p>
          <p>Each article is displayed on a separate line. Clicking on the image or the headline will
            send the user to the relevant page on "The onion" site. Articles are displayed with the most
            recent ones first.
          </p>
          <p>Buttons to the right of the article information allow the user to show all 
            notes made for that article, or add a new note (previous notes will then be shown).
            When the show notes button has been pressed, it changes to "hide notes"
          </p>
        </div>

        <div class="modal-footer">

          <button type="button btn-sm" id="closeInstructions2"
            class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  <script src="javascript/index.js"></script>
</main>